In [3]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comserach')
cnx.close()

In [14]:
from datetime import date, datetime, timedelta

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comserach')
cursor = cnx.cursor()
tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO tab1 "
               "(name, nickname, phone) "
               "VALUES (%s, %s, %s)")
add_salary = ("INSERT INTO tab2 "
              "(1id, payment, date) "
              "VALUES (%s, %s, %s)")

data_employee = ('himanshu kumar', 'himan', 9999999999)

# Insert new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid

# Insert salary information

data_sal = (emp_no, 50000, tomorrow)

data_salary = {
  'emp_no': emp_no,
  'salary': 50000,
  'date': tomorrow,
  
}
cursor.execute(add_salary, data_sal)

# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()

In [15]:
names = ['mohit babu','vaibhav jaiswal','abhinav bijarnia','summit ron','dinabandu behara','ashu mohan','vibhanshu yadav','tarun kumar','pragathi sristi']
nicknames = ['mohit','vaibhav','abhi','summit','bhera','ashu','yadav','tarun','pragathi']

In [19]:
for i in range(len(names)):
    cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comserach')
    cursor = cnx.cursor()
    tomorrow = datetime.now().date() + timedelta(days=1)
    
    add_employee = ("INSERT INTO tab1 "
                   "(name, nickname, phone) "
                   "VALUES (%s, %s, %s)")
    add_salary = ("INSERT INTO tab2 "
                  "(1id, payment, date) "
                  "VALUES (%s, %s, %s)")
    
    data_employee = (names[i], nicknames[i], 9999999999)
    
    # Insert new employee
    cursor.execute(add_employee, data_employee)
    emp_no = cursor.lastrowid
    
    # Insert salary information
    
    data_sal = (emp_no, 50000, tomorrow)
    
    data_salary = {
      'emp_no': emp_no,
      'salary': 50000,
      'date': tomorrow,
      
    }
    cursor.execute(add_salary, data_sal)
    
    # Make sure data is committed to the database
    cnx.commit()
    
    cursor.close()
    cnx.close()

In [35]:
#get all the contents 
def gettabinfo(table):
    cnx = mysql.connector.connect(user='root', password='',
                                  host='127.0.0.1',
                                  database='comserach')
    cursor = cnx.cursor()
    query = "SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{}' ORDER BY ORDINAL_POSITION"
    cursor.execute(query.format(table))
    records = cursor.fetchall()
    names = []
    for i in range(len(records)):
        names.append(records[i][0])
    return names

In [36]:
gettabinfo('tab1')

['id', 'name', 'nickname', 'phone']

In [37]:
gettabinfo('tab2')

['id', 'payment', 'date', '1id']

In [41]:
from nltk import load_parser
cp = load_parser('grammars/book_grammars/sql0.fcfg')
query = 'What cities are located in China'
trees = list(cp.parse(query.split()))
answer = trees[0].label()['SEM']
answer = [s for s in answer if s]
q = ' '.join(answer)
print(q)

SELECT City FROM city_table WHERE Country="china"

In [39]:
trees

[Tree(S[SEM=(SELECT, City FROM city_table, WHERE, , , Country="china")], [Tree(NP[SEM=(SELECT, City FROM city_table)], [Tree(Det[SEM='SELECT'], ['What']), Tree(N[SEM='City FROM city_table'], ['cities'])]), Tree(VP[SEM=(, , Country="china")], [Tree(IV[SEM=''], ['are']), Tree(AP[SEM=(, Country="china")], [Tree(A[SEM=''], ['located']), Tree(PP[SEM=(, Country="china")], [Tree(P[SEM=''], ['in']), Tree(NP[SEM='Country="china"'], ['China'])])])])])]

SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = tab1 ORDER BY ORDINAL_POSITION

In [42]:
que = "what's himansu's payment date"

In [44]:
import nltk
from nltk import word_tokenize
text = word_tokenize("And now for something completely different")

nltk.pos_tag(text)

[('And', 'CC'),
 ('now', 'RB'),
 ('for', 'IN'),
 ('something', 'NN'),
 ('completely', 'RB'),
 ('different', 'JJ')]

In [46]:
import nltk
from nltk.corpus import stopwords
set(stopwords.words('english'))

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}