In [1]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comsearch')
cnx.close()

InterfaceError: 2003: Can't connect to MySQL server on '127.0.0.1:3306' (10061 No connection could be made because the target machine actively refused it)

In [ ]:
from datetime import date, datetime, timedelta

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comsearch')
cursor = cnx.cursor()
tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO tab1 "
               "(name, nickname, phone) "
               "VALUES (%s, %s, %s)")
add_salary = ("INSERT INTO tab2 "
              "(1id, payment, date) "
              "VALUES (%s, %s, %s)")

data_employee = ('himanshu kumar', 'himan', 9999999999)

# Insert new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid

# Insert salary information

data_sal = (emp_no, 50000, tomorrow)

data_salary = {
  'emp_no': emp_no,
  'salary': 50000,
  'date': tomorrow,
  
}
cursor.execute(add_salary, data_sal)

# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()

In [ ]:
names = ['mohit babu','vaibhav jaiswal','abhinav bijarnia','summit ron','dinabandu behara','ashu mohan','vibhanshu yadav','tarun kumar','pragathi sristi']
nicknames = ['mohit','vaibhav','abhi','summit','bhera','ashu','yadav','tarun','pragathi']

In [61]:
for i in range(len(names)):
    cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comsearch')
    cursor = cnx.cursor()
    tomorrow = datetime.now().date() + timedelta(days=1)
    
    add_employee = ("INSERT INTO tab1 "
                   "(name, nickname, phone) "
                   "VALUES (%s, %s, %s)")
    add_salary = ("INSERT INTO tab2 "
                  "(1id, payment, date) "
                  "VALUES (%s, %s, %s)")
    
    data_employee = (names[i], nicknames[i], 9999999999)
    
    # Insert new employee
    cursor.execute(add_employee, data_employee)
    emp_no = cursor.lastrowid
    
    # Insert salary information
    
    data_sal = (emp_no, 50000, tomorrow)
    
    data_salary = {
      'emp_no': emp_no,
      'salary': 50000,
      'date': tomorrow,
      
    }
    cursor.execute(add_salary, data_sal)
    
    # Make sure data is committed to the database
    cnx.commit()
    
    cursor.close()
    cnx.close()

In [62]:
#get all the contents 
def gettabinfo(table):
    cnx = mysql.connector.connect(user='root', password='',
                                  host='127.0.0.1',
                                  database='comsearch')
    cursor = cnx.cursor()
    query = "SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{}' ORDER BY ORDINAL_POSITION"
    cursor.execute(query.format(table))
    records = cursor.fetchall()
    names = []
    for i in range(len(records)):
        names.append(records[i][0])
    return names

In [63]:
gettabinfo('tab1')

['id', 'name', 'nickname', 'phone']

In [64]:
gettabinfo('tab2')

['id', 'payment', 'date', '1id']

In [2]:
from nltk import load_parser
cp = load_parser('grammars/book_grammars/sql0.fcfg')
query = 'What cities are located in China'
trees = list(cp.parse(query.split()))
answer = trees[0].label()['SEM']
answer = [s for s in answer if s]
q = ' '.join(answer)
print(q)

SELECT City FROM city_table WHERE Country="china"

In [3]:
trees

[Tree(S[SEM=(SELECT, City FROM city_table, WHERE, , , Country="china")], [Tree(NP[SEM=(SELECT, City FROM city_table)], [Tree(Det[SEM='SELECT'], ['What']), Tree(N[SEM='City FROM city_table'], ['cities'])]), Tree(VP[SEM=(, , Country="china")], [Tree(IV[SEM=''], ['are']), Tree(AP[SEM=(, Country="china")], [Tree(A[SEM=''], ['located']), Tree(PP[SEM=(, Country="china")], [Tree(P[SEM=''], ['in']), Tree(NP[SEM='Country="china"'], ['China'])])])])])]

In [4]:
que = "what's himansu's payment date"

In [5]:
import nltk
from nltk import word_tokenize
text = word_tokenize("And now for something completely different")

nltk.pos_tag(text)

[('And', 'CC'),
 ('now', 'RB'),
 ('for', 'IN'),
 ('something', 'NN'),
 ('completely', 'RB'),
 ('different', 'JJ')]

In [6]:
import nltk
from nltk.corpus import stopwords
set(stopwords.words('english'))

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [7]:
from nltk.corpus import wordnet 
syns = wordnet.synsets("employee")

In [8]:
escwords = ['a','an','the','select','find','which','whose','is','of','with','to','for','are','and','what']

In [9]:
nltk.data.show_cfg('grammars/book_grammars/sql0.fcfg')

% start S
S[SEM=(?np + WHERE + ?vp)] -> NP[SEM=?np] VP[SEM=?vp]
VP[SEM=(?v + ?pp)] -> IV[SEM=?v] PP[SEM=?pp]
VP[SEM=(?v + ?ap)] -> IV[SEM=?v] AP[SEM=?ap]
NP[SEM=(?det + ?n)] -> Det[SEM=?det] N[SEM=?n]
PP[SEM=(?p + ?np)] -> P[SEM=?p] NP[SEM=?np]
AP[SEM=?pp] -> A[SEM=?a] PP[SEM=?pp]
NP[SEM='Country="greece"'] -> 'Greece'
NP[SEM='Country="china"'] -> 'China'
Det[SEM='SELECT'] -> 'Which' | 'What'
N[SEM='City FROM city_table'] -> 'cities'
IV[SEM=''] -> 'are'
A[SEM=''] -> 'located'
P[SEM=''] -> 'in'

In [10]:
# nltk.download()

In [11]:
test = "what is the salary of himanshu"

In [12]:
# import spacy
# nlp = spacy.load('en')
# doc = nlp(test)

In [13]:
# for word in doc:  
#     print(word, word.tag_)

In [14]:
# list(doc.noun_chunks)

In [15]:
#nltk 
import nltk
from nltk import word_tokenize
test_pos = nltk.pos_tag(word_tokenize(test))

In [16]:
import re
grammar = "NP: {<DT>?<JJ>*<NN>}"

cp = nltk.RegexpParser(grammar)
result = cp.parse(test_pos)
print(result)

(S what/WP is/VBZ (NP the/DT salary/NN) of/IN (NP himanshu/NN))

In [17]:
# result[0].label() 
nps=[]
for subtree in result.subtrees():
    if subtree.label()  == 'NP':
        t = subtree
        t = ' '.join(word for word, tag in t.leaves())
        nps.append(t)
nps

['the salary', 'himanshu']

In [18]:
# def gettag(test):
#     test_pos = nltk.pos_tag(word_tokenize(test))
#     grammar = "NP: {<DT>?<JJ>*<NN>}"

#     cp = nltk.RegexpParser(grammar)
#     result = cp.parse(test_pos)
#     return result

In [19]:
#spacy 
# from spacy import en
# parser = English()


# parsedEx = parser(test)
# # shown as: original token, dependency tag, head word, left dependents, right dependents
# for token in parsedEx:
#     print(token.orth_, token.dep_, token.head.orth_, [t.orth_ for t in token.lefts], [t.orth_ for t in token.rights])

In [27]:
act_mappings = {
'AVG': ['average', 'avg', 'Average'],
'SUM': ['sum', 'total'],
'MAX': ['maximum', 'highest', 'max'],
'MIN': ['minimum', 'lowest', 'min'],
'COUNT': ['number', 'how_many', 'count'],
'JUNCTION': ['and'],
'DISJUNCTION': ['or'],
'GREATER': ['greater', 'over', 'greater_than', 'more_than', 'over_than'],
'LESS': ['less' , 'less than'],
'BETWEEN': ['between', 'per','range'],
'ORDER': ['order', 'ordered'],
'ASC': ['ascending', 'increasing'],
'DESC': ['descending', 'decreasing', 'inverse', 'reverse', 'opposite'],
'GROUP': ['group', 'grouped', 'clubbed'],
'NEGATION': ['not', 'no'],
'EQUAL': ['is', 'equal', 'equals', 'equal_to', 'equals_to', 'are'],
'LIKE': ['like', 'likes', 'similar_to'],
'DISTINCT': ['distinct', 'different', 'distinctive', 'distinctly', 'unique']
}

In [28]:
ngrams = ['how_many', 'more_than', 'over_than','equal_to', 'equals_to','similar_to','nick_name','short_form','employee_id','roll_number','mobile_number','phone_number','mobile_no','phone_no','greater_than','less_than']

In [29]:
#ngarms 



test = 'how many employees are there equal to'
words = nltk.word_tokenize(test)

words=[word.lower() for word in words if word.isalpha()]
# token = [w.lower() for w in word_tokenize(test)]

In [30]:
# bigrm

In [31]:

def bigrms(tokens,ngrmas):
    fsen = ''
    bigrm = list(nltk.bigrams(tokens))
    for i in range(len(bigrm)):
        x = bigrm[i][0]+'_'+bigrm[i][1]
        if x in ngrams:
            fsen = fsen +' '+ str(x)
            i = i + 1
        else:
            fsen = fsen +' '+ bigrm[i][0]
    fsen = fsen +' '+ bigrm[-1][1]
    return fsen

In [32]:
tb =bigrms(words,ngrams)
wo=[word.lower() for word in nltk.word_tokenize(tb) if word  not in escwords]
ptags = nltk.pos_tag(wo)
ptags

[('how_many', 'RB'),
 ('many', 'JJ'),
 ('employees', 'NNS'),
 ('there', 'RB'),
 ('equal_to', 'VBP')]

In [33]:
words=[word.lower() for word in words if word.isalpha()]
nltk.pos_tag(words)

[('how', 'WRB'),
 ('many', 'JJ'),
 ('employees', 'NNS'),
 ('are', 'VBP'),
 ('there', 'RB'),
 ('equal', 'JJ'),
 ('to', 'TO')]

In [34]:
print(gettabinfo('tab1'))
print(gettabinfo('tab2'))

NameError: name 'gettabinfo' is not defined

In [39]:
dist_mapping ={
    'payment':['paid','salary','payment','pay'],
    'name':['who' ,'people','name','full name'],
    'nickname':['short name','nick name','short form','nickname'],
    'id':['employee_id','roll number','id'],
    'phone':['mobile','phone','mobile number','phone number','mobile no','phone no'],
    'date':['date']
}

In [40]:
rel_mapping = {
    'id':['name'],
    'nickname':['name'],
    'phone':['name'],
    'payment':['name'],
    'date':['name','payment'],
    '1id':['name','id']
        }

In [41]:
def dicinv(dic):
    d={}
    for i in dic.keys():
        for j in dic[i]:
            d[j] = i
    return d

In [42]:
dmap = dicinv(dist_mapping)
amap = dicinv(act_mappings)
rmap = dicinv(rel_mapping)

In [43]:
# getting indivisual phrases
def getph(result,p):
    nps = []
    for subtree in result.subtrees():
        if subtree.label()  == p:
            t = subtree
            t = ' '.join(word for word, tag in t.leaves())
            nps.append(t)
    return nps

In [44]:
print(result)

(S what/WP is/VBZ (NP the/DT salary/NN) of/IN (NP himanshu/NN))

In [45]:
nps=[]
for subtree in result.subtrees():
    if subtree.label()  == 'NP':
        t = subtree
        t = ' '.join(word for word, tag in t.leaves())
        nps.append(t)
nps

['the salary', 'himanshu']

In [46]:
def intersection(lst1, lst2): 
    # Use of hybrid method 
    temp = set(lst2) 
    lst3 = [value for value in lst1 if value in temp] 
    return lst3 
coml = []
for i in range(len(nps)):
    if len(intersection(list(dmap.keys()),nps[i].split()))>0:
        coml.append(nps[i])

In [47]:
for i in coml[0].split():
    if i in list(dmap.keys()):
        dist = dmap[i]

In [48]:
dist

'payment'

In [49]:
escwords = ['a','an','the','select','find','which','whose','is','of','with','to','for','are','and','what','?']

In [50]:
test = "who is paid on 22-12-2018"
#tokens = word_tokenize(test) 
tokens = [w for w in word_tokenize(test) if not w in escwords] 
tokens_tag = nltk.pos_tag(tokens)
tokens_tag

[('who', 'WP'), ('paid', 'VBD'), ('on', 'IN'), ('22-12-2018', 'JJ')]

In [51]:
dkeys = list(dmap.keys())
akeys = list(amap.keys())

In [52]:
cols = []
actions = []
for i in range(len(tokens)):
    if tokens[i] in dkeys:
        tokens[i] = dmap[tokens[i]]
        cols.append(tokens[i])
    if tokens[i] in akeys:
        tokens[i] = amap[tokens[i]]
        actions.append(tokens[i])

In [53]:
actions

[]

In [54]:
stuc = "SELECT <select clause> FROM <tables> WHERE <where clause> ORDER BY <order by clause > GROUP BY <group by clause> HAVING <having clause> LIMIT <limit clause>."

In [55]:
#get np and vb
def getnpvb(test):
    li = []#
    lipos = []
    b = nltk.pos_tag(test)
    for i in range(len(b)):
#         print(b[i][1])
#         print(b[i][0])
        if b[i][1] in ['NN','NNS','NNP','NNPS','VB','VBD','VBG','VBN','VBP','VBZ','CD']:
            li.append([b[i][0],b[i][1]])
    return li

In [56]:
th ='find the salary of himanshu'
tt = word_tokenize(th)

In [57]:
vv = getnpvb(tt)

In [58]:
# def mapping(li):

In [59]:

def bigrms(tokens,ngrmas):
    fsen = ''
    bigrm = list(nltk.bigrams(tokens))
    for i in range(len(bigrm)):
        x = bigrm[i][0]+'_'+bigrm[i][1]
        if x in ngrams:
            fsen = fsen +' '+ str(x)
            i = i + 1
        else:
            fsen = fsen +' '+ bigrm[i][0]
    fsen = fsen +' '+ bigrm[-1][1]
    return fsen

In [118]:
text = 'what is the salary of himanshu'
# nltk.pos_tag(word_tokenize(fff))
getnpvb(word_tokenize(text))

[['is', 'VBZ'], ['salary', 'NN'], ['himanshu', 'NN']]

In [119]:
 nltk.pos_tag(word_tokenize(text))

[('what', 'WP'),
 ('is', 'VBZ'),
 ('the', 'DT'),
 ('salary', 'NN'),
 ('of', 'IN'),
 ('himanshu', 'NN')]

In [120]:
def findstructure(tokens):
    s = 0
    helper = 'none'
    if 'who' in tokens:
        s=1
        helper = 'name'
    if 'how' in tokens:
        s=2
        helper = 'none'
    if 'find' in tokens:
        s=3
    if 'what' in tokens:
        s=4
    return s,helper

In [158]:
#seperate the questions
anyq = 'who has the salary greater than 50000'
tokens = word_tokenize(anyq)
s,h = findstructure(tokens)
final = getnpvb(tokens)
#helpers = [h]
if h!= 'none':
    final = [[h,'HELP']]+final

In [159]:
final
# structures = ['what','how','find','who','none']
# final_t = [w for w in final if w not in structures]

[['name', 'HELP'], ['has', 'VBZ'], ['salary', 'NN'], ['50000', 'CD']]

In [147]:

for i in range(len(final)):
    if final[i][1] in ['VB','VBD','VBG','VBN','VBP','VBZ']:
        split = i
sel =[]
whe_raw=[]
for i in range(split):
    sel.append(final[i][0])
for i in range(split+1,len(final)):
    whe_raw.append(final[i][0])

In [160]:
whe_raw

['50000', 'salary']

In [161]:
# structures = ['what','how','find','who','none']
# final = [w for w in final if w not in structures]

In [162]:
btext = bigrms(word_tokenize(text),ngrams)

In [163]:
btokens = word_tokenize(btext)
rel = []
for i in  btokens:
    if i in list(amap.keys()):
        rel.append(amap[i])

In [164]:
rel_sym={
    'GREATER':'>',
    'LESS':'<',
    'EQUAL':'=',
    'BETWEEN':'BETWEEN'
}

In [165]:
whe_raw = whe_raw[::-1]
rel = rel[::-1]

In [166]:
whe=[]
x=0
for i in range(len(rel)):
    if rel[i] =="BETWEEN":
        stn = 'BETWEEN' + whe_raw[x+1] + 'AND' + whe_raw[x]
        whe.append([dmap[whe_raw[x+2]],stn])
        x = x+3
    else:
        stn = rel_sym[rel[i]] + ' ' + whe_raw[x]
        whe.append([dmap[whe_raw[x+1]],stn])
        x= x+2

KeyError: '50000'

In [167]:
whe

[]

In [168]:
tab1 = ['id', 'name', 'nickname', 'phone']
tab2 = ['payment', 'date', '1id']    
def makestatement(sel,whe):
        sta = 'SELECT'
        t=0
        for i in sel:
            if t == len(sel)-1:
                if i in tab1:
                    sta = sta +' '+ 't1.'+i 
                if i in tab2:
                    sta= sta +' '+ 't2.'+i 
                t=t+1
                
            else:
                if i in tab1:
                    sta = sta +' '+ 't1.'+i 
                    sta = sta+','
                if i in tab2:
                    sta= sta +' '+ 't2.'+i 
                    sta = sta+','
                t=t+1
                
        sta = sta +' ' +'FROM tab1 as t1 , tab2 as t2 WHERE'
        print(len(whe))

        if len(whe[0])!=0:
            for i in whe:
                if i[0] in tab1:
                    sta = sta +' '+ 't1.'+i[0]
                    sta = sta +' '+i[1]
                if i[0] in tab2:
                    sta = sta +' '+ 't2.'+i[0]
                    sta = sta +' '+i[1]
                sta = sta +' '+'AND'
        sta = sta + ' ' + 't1.id==t2.1id' 
        return sta

In [157]:
makestatement(sel,whe)

1

'SELECT t1.name FROM tab1 as t1 , tab2 as t2 WHERE t2.payment = 50000 AND t1.id==t2.1id'

In [83]:
whe

[['salary', '>50000']]

In [73]:
import pickle

In [74]:
with open('filename.pickle', 'wb') as handle:
    pickle.dump(a, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('filename.pickle', 'rb') as handle:
    b = pickle.load(handle)

NameError: name 'a' is not defined

In [75]:
with open('filename.pickle', 'wb') as handle:
    pickle.dump(a, handle, protocol=pickle.HIGHEST_PROTOCOL)

NameError: name 'a' is not defined

In [220]:
final_dict = {
    'rel_sum':rel_sym,
    'ngrams':ngrams,
    'amap':amap,
    'rmap':rmap,
    'dmap':dmap
    
}

In [221]:
with open('finaldict.pickle', 'wb') as handle:
    pickle.dump(final_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [38]:
gettag(test)

LookupError:

===========================================================================
NLTK was unable to find the gs file!
Use software specific configuration paramaters or set the PATH environment variable.
===========================================================================

Tree('S', [('how', 'WRB'), ('many', 'JJ'), ('poeple', 'NNS'), ('are', 'VBP'), ('paid', 'VBN'), Tree('NP', [('this', 'DT'), ('month', 'NN')])])

In [65]:
tt = "what is the salary of himanshu"
getph(gettag(tt),'NP')

NameError: name 'gettag' is not defined

In [44]:
test_pos = nltk.pos_tag(word_tokenize(tt))
grammar = "NP: {<DT>?<JJ>*<NN>}"
cp = nltk.RegexpParser(grammar)
res = cp.parse(test_pos)

In [45]:
res

LookupError:

===========================================================================
NLTK was unable to find the gs file!
Use software specific configuration paramaters or set the PATH environment variable.
===========================================================================

Tree('S', [('what', 'WP'), ('is', 'VBZ'), Tree('NP', [('the', 'DT'), ('salary', 'NN')]), ('of', 'IN'), Tree('NP', [('himanshu', 'NN')])])