In [3]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comserach')
cnx.close()

In [14]:
from datetime import date, datetime, timedelta

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comserach')
cursor = cnx.cursor()
tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO tab1 "
               "(name, nickname, phone) "
               "VALUES (%s, %s, %s)")
add_salary = ("INSERT INTO tab2 "
              "(1id, payment, date) "
              "VALUES (%s, %s, %s)")

data_employee = ('himanshu kumar', 'himan', 9999999999)

# Insert new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid

# Insert salary information

data_sal = (emp_no, 50000, tomorrow)

data_salary = {
  'emp_no': emp_no,
  'salary': 50000,
  'date': tomorrow,
  
}
cursor.execute(add_salary, data_sal)

# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()

In [15]:
names = ['mohit babu','vaibhav jaiswal','abhinav bijarnia','summit ron','dinabandu behara','ashu mohan','vibhanshu yadav','tarun kumar','pragathi sristi']
nicknames = ['mohit','vaibhav','abhi','summit','bhera','ashu','yadav','tarun','pragathi']

In [19]:
for i in range(len(names)):
    cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comserach')
    cursor = cnx.cursor()
    tomorrow = datetime.now().date() + timedelta(days=1)
    
    add_employee = ("INSERT INTO tab1 "
                   "(name, nickname, phone) "
                   "VALUES (%s, %s, %s)")
    add_salary = ("INSERT INTO tab2 "
                  "(1id, payment, date) "
                  "VALUES (%s, %s, %s)")
    
    data_employee = (names[i], nicknames[i], 9999999999)
    
    # Insert new employee
    cursor.execute(add_employee, data_employee)
    emp_no = cursor.lastrowid
    
    # Insert salary information
    
    data_sal = (emp_no, 50000, tomorrow)
    
    data_salary = {
      'emp_no': emp_no,
      'salary': 50000,
      'date': tomorrow,
      
    }
    cursor.execute(add_salary, data_sal)
    
    # Make sure data is committed to the database
    cnx.commit()
    
    cursor.close()
    cnx.close()

In [23]:
#get all the contents 
cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comserach')
cursor = cnx.cursor()
query = "select * from tab1"
cursor.execute(query)
records = cursor.fetchall()