In [60]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comsearch')
cnx.close()

In [62]:
from datetime import date, datetime, timedelta

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comsearch')
cursor = cnx.cursor()
tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO tab1 "
               "(name, nickname, phone) "
               "VALUES (%s, %s, %s)")
add_salary = ("INSERT INTO tab2 "
              "(1id, payment, date) "
              "VALUES (%s, %s, %s)")

data_employee = ('himanshu kumar', 'himan', 9999999999)

# Insert new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid

# Insert salary information

data_sal = (emp_no, 50000, tomorrow)

data_salary = {
  'emp_no': emp_no,
  'salary': 50000,
  'date': tomorrow,
  
}
cursor.execute(add_salary, data_sal)

# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()

In [15]:
names = ['mohit babu','vaibhav jaiswal','abhinav bijarnia','summit ron','dinabandu behara','ashu mohan','vibhanshu yadav','tarun kumar','pragathi sristi']
nicknames = ['mohit','vaibhav','abhi','summit','bhera','ashu','yadav','tarun','pragathi']

In [19]:
for i in range(len(names)):
    cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='comsearch')
    cursor = cnx.cursor()
    tomorrow = datetime.now().date() + timedelta(days=1)
    
    add_employee = ("INSERT INTO tab1 "
                   "(name, nickname, phone) "
                   "VALUES (%s, %s, %s)")
    add_salary = ("INSERT INTO tab2 "
                  "(1id, payment, date) "
                  "VALUES (%s, %s, %s)")
    
    data_employee = (names[i], nicknames[i], 9999999999)
    
    # Insert new employee
    cursor.execute(add_employee, data_employee)
    emp_no = cursor.lastrowid
    
    # Insert salary information
    
    data_sal = (emp_no, 50000, tomorrow)
    
    data_salary = {
      'emp_no': emp_no,
      'salary': 50000,
      'date': tomorrow,
      
    }
    cursor.execute(add_salary, data_sal)
    
    # Make sure data is committed to the database
    cnx.commit()
    
    cursor.close()
    cnx.close()

In [63]:
#get all the contents 
def gettabinfo(table):
    cnx = mysql.connector.connect(user='root', password='',
                                  host='127.0.0.1',
                                  database='comsearch')
    cursor = cnx.cursor()
    query = "SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{}' ORDER BY ORDINAL_POSITION"
    cursor.execute(query.format(table))
    records = cursor.fetchall()
    names = []
    for i in range(len(records)):
        names.append(records[i][0])
    return names

In [36]:
gettabinfo('tab1')

['id', 'name', 'nickname', 'phone']

In [37]:
gettabinfo('tab2')

['id', 'payment', 'date', '1id']

In [41]:
from nltk import load_parser
cp = load_parser('grammars/book_grammars/sql0.fcfg')
query = 'What cities are located in China'
trees = list(cp.parse(query.split()))
answer = trees[0].label()['SEM']
answer = [s for s in answer if s]
q = ' '.join(answer)
print(q)

SELECT City FROM city_table WHERE Country="china"

In [39]:
trees

[Tree(S[SEM=(SELECT, City FROM city_table, WHERE, , , Country="china")], [Tree(NP[SEM=(SELECT, City FROM city_table)], [Tree(Det[SEM='SELECT'], ['What']), Tree(N[SEM='City FROM city_table'], ['cities'])]), Tree(VP[SEM=(, , Country="china")], [Tree(IV[SEM=''], ['are']), Tree(AP[SEM=(, Country="china")], [Tree(A[SEM=''], ['located']), Tree(PP[SEM=(, Country="china")], [Tree(P[SEM=''], ['in']), Tree(NP[SEM='Country="china"'], ['China'])])])])])]

SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = tab1 ORDER BY ORDINAL_POSITION

In [42]:
que = "what's himansu's payment date"

In [44]:
import nltk
from nltk import word_tokenize
text = word_tokenize("And now for something completely different")

nltk.pos_tag(text)

[('And', 'CC'),
 ('now', 'RB'),
 ('for', 'IN'),
 ('something', 'NN'),
 ('completely', 'RB'),
 ('different', 'JJ')]

In [2]:
import nltk
from nltk.corpus import stopwords
set(stopwords.words('english'))

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [21]:
from nltk.corpus import wordnet 
syns = wordnet.synsets("employee")

In [22]:
syns

[Synset('employee.n.01')]

In [ ]:
escwords = ['a','an','the','select','find','which','whose','is','of','with','to','for','are','and','what']

In [27]:
nltk.data.show_cfg('grammars/book_grammars/sql0.fcfg')

% start S
S[SEM=(?np + WHERE + ?vp)] -> NP[SEM=?np] VP[SEM=?vp]
VP[SEM=(?v + ?pp)] -> IV[SEM=?v] PP[SEM=?pp]
VP[SEM=(?v + ?ap)] -> IV[SEM=?v] AP[SEM=?ap]
NP[SEM=(?det + ?n)] -> Det[SEM=?det] N[SEM=?n]
PP[SEM=(?p + ?np)] -> P[SEM=?p] NP[SEM=?np]
AP[SEM=?pp] -> A[SEM=?a] PP[SEM=?pp]
NP[SEM='Country="greece"'] -> 'Greece'
NP[SEM='Country="china"'] -> 'China'
Det[SEM='SELECT'] -> 'Which' | 'What'
N[SEM='City FROM city_table'] -> 'cities'
IV[SEM=''] -> 'are'
A[SEM=''] -> 'located'
P[SEM=''] -> 'in'

In [26]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [50]:
test = "how many poeple are paid this month"

In [29]:
import spacy
nlp = spacy.load('en')
doc = nlp(test)

In [30]:
for word in doc:  
    print(word, word.tag_)

what WP
is VBZ
the DT
salary NN
of IN
himanshu NN
? .

In [33]:
list(doc.noun_chunks)

[what, the salary, himanshu]

In [51]:
#nltk 
import nltk
from nltk import word_tokenize
test_pos = nltk.pos_tag(word_tokenize(test))

In [66]:
import re
grammar = "NP: {<DT>?<JJ>*<NN>}"

cp = nltk.RegexpParser(grammar)
result = cp.parse(test_pos)
print(result)

(S how/WRB many/JJ poeple/NNS are/VBP paid/VBN (NP this/DT month/NN))

In [79]:
# result[0].label() 
nps=[]
for subtree in result.subtrees():
    if subtree.label()  == 'NP':
        t = subtree
        t = ' '.join(word for word, tag in t.leaves())
        nps.append(t)
nps

['this month']

In [57]:
#spacy 
# from spacy import en
# parser = English()


# parsedEx = parser(test)
# # shown as: original token, dependency tag, head word, left dependents, right dependents
# for token in parsedEx:
#     print(token.orth_, token.dep_, token.head.orth_, [t.orth_ for t in token.lefts], [t.orth_ for t in token.rights])

In [56]:
act_mappings = {
'AVG': ['average', 'avg', 'Average'],
'SUM': ['sum', 'total'],
'MAX': ['maximum', 'highest', 'max'],
'MIN': ['minimum', 'lowest', 'min'],
'COUNT': ['number', 'how many', 'count'],
'JUNCTION': ['and'],
'DISJUNCTION': ['or'],
'GREATER': ['greater', 'over', 'greater than', 'more than', 'over than'],
'LESS': ['less' , 'less than'],
'BETWEEN': ['between', 'per','range'],
'ORDER': ['order', 'ordered'],
'ASC': ['ascending', 'increasing'],
'DESC': ['descending', 'decreasing', 'inverse', 'reverse', 'opposite'],
'GROUP': ['group', 'grouped', 'clubbed'],
'NEGATION': ['not', 'no'],
'EQUAL': ['is', 'equal', 'equals', 'equal to', 'equals to', 'are'],
'LIKE': ['like', 'likes', 'similar to'],
'DISTINCT': ['distinct', 'different', 'distinctive', 'distinctly', 'unique']
}

In [64]:
print(gettabinfo('tab1'))
print(gettabinfo('tab2'))

['id', 'name', 'nickname', 'phone']
['id', 'payment', 'date', '1id']

In [65]:
dist_mapping ={
    'payment':['paid','salary','payment','pay'],
    'name':['who','people','name','full name'],
    'nickname':['short name','nick name','short form'],
    'id':['employee is','roll no.','id'],
    'phone':['mobile','phone','mobile number','phone number','mobile no','phone no'],
    'date':['date']
}

In [ ]:
#gett